# Folders
/data
/disabledmods
/jarmods
/logs
/downloads
/saves
/crash-reports
/moddata
/config

# Files
/.mixin.out
/command_history.txt
/options.txt
/usercache.json
/usernamecache.json
/instance.json

# Exclusions
!/config/steves_realistic_sleep.json
